img {
  height: 150px;
  width: 150px;
  border-radius: 5px;
}

.home a{
  text-decoration: none;
  color: white;
}

.details {
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  background-color: #17a6ea;
  color: white;
}

.details a{
  text-decoration: none;
  color: white;
}

h4 {
  color: black;
}

.favorites {
  border: 2px solid lightgray;
  border-radius: 5px;
  margin-top: 15px;
}
